{% extends "LayoutNav.twig" %} {% block content %}
<!-- Inicia Account -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad">
                    <div class="panel panel-success"><br>
                        <h2 class="panel-title">
                            <center>
                                <fontSize="5">
                                    <i class='glyphicon glyphicon-user'></i>PROFILE</fontSize>
                            </center>
                        </h2>
                        <h3>{{ name.nombre }}{{ name.apellidopaterno }}{{ responseMessage }}</h3>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " text-align="center">
                                    <div id="load_img"></div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <img src="{{ imagen }}" alt="Default">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td class='col-md-3'>Name:</td>
                                                <td>{{ data.nombre }}</td>
                                            </tr>
                                            <tr>
                                                <td>Last name:</td>
                                                <td>{{ data.apellidopaterno }}</td>
                                            </tr>
                                            <tr>
                                                <td>Mother's last name:</td>
                                                <td>{{ data.apellidomaterno }}</td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td>{{ data.correo }}</td>
                                            </tr>
                                            <tr>
                                                <td>Sexo:</td>
                                                <td>{{ data.sexo }}</td>
                                            </tr>

                                            <tr>
                                                <td>Age:</td>
                                                <td>{{ data.edad }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class='col-md-12' id="resultados_ajax"></div>
                                <!-- Carga los datos -->
                            </div>
                        </div>
                        <form action="/profile/update" method="post">
                            <div class="panel-footer text-center">
                                <button type="submit" class="btn btn-sm btn-success">
                            <i class="glyphicon glyphicon-refresh"></i>
                            Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block namepage %}
<title>Account</title>
{% endblock %} {% block Nav %}
<ul>
    <li>
        <a href="/vehicle/add">Add Vehicles</a>
    </li>
    <li>
        <a href="/reservation">Schedule a Reservation</a>
    </li>
    <li class="active">
        <a href="/account">Account</a>
    </li>
    <li>
        <a href="/history">History</a>
    </li>
</ul>
{% endblock %} {% block NavMax %}
<ul>
    <li>
        <a href="/vehicle/add">Add Vehicles</a>
    </li>
    <li>
        <a href="/reservation">Schedule a Reservation</a>
    </li>
    <li class="active">
        <a href="/account">Account</a>
    </li>
    <li>
        <a href="/history">History</a>
    </li>
</ul>
{% endblock %} {% block ubication %}
<div class="breadcrumb__option">
    <a href="/vehicle/add">
        <span class="fa fa-home"></span> Home
    </a>
    <span>Account</span>
</div>
{% endblock %}